name: Bash - Rhombus Test

on: [push]

jobs:
  rhombus:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v2

    - name: Preparations
      working-directory: /home/runner/work/spo/spo/
      run: chmod +x draw_rhombus.sh && echo "Content of 'draw_rhombus.sh' file:" && cat draw_rhombus.sh

    - name: Test (0)
      working-directory: /home/runner/work/spo/spo/
      run: ./draw_rhombus.sh 0

    - name: Test (1)
      working-directory: /home/runner/work/spo/spo/
      run: ./draw_rhombus.sh 1

    - name: Test (2)
      working-directory: /home/runner/work/spo/spo/
      run: ./draw_rhombus.sh 2
      
    - name: Test (8)
      working-directory: /home/runner/work/spo/spo/
      run: ./draw_rhombus.sh 8
      
    - name: Test (42)
      working-directory: /home/runner/work/spo/spo/
      run: ./draw_rhombus.sh 42
